* {
    --green: #00b800;
    --blue: blue;
}

html, body {
    margin:0;
    padding: 0;
    background: black;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.theme {
    padding: 10px;
    width: auto;
    height: 100vh;
}

.dark-theme {
    background: #000;
    color: var(--green);
}

.light-theme {
    background: #fff;
    color: var(--blue);
}

.toggler {
  margin: 20px auto;
  border: 4px solid var(--blue);
}

.dark-theme .toggler {
    border-color: var(--green);
}

h1 {
  font-size: 20px;
  text-align:center;
}

textarea {
  margin: 10px auto;
  padding: 10px;
  height: 200px;
  width: 90%;
  max-width: 500px;
  background: var(--blue);
  color: #fff;
  border: 3px solid var(--blue);
  outline: none;
  font-family: 'Press Start 2P', cursive;
}

.dark-theme > textarea {
  background: var(--green);
  color: #000;
  border: 3px solid var(--green);
}

textarea:disabled {
  background: gray;
}

button {
  margin: 0 auto;
  padding: 10px 20px;
  display: block;
  background: var(--green);
  border: none;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}

.dark-theme > .start {
  background: var(--green);
  color: #000;
}

.light-theme > .start {
  background: var(--blue);
  color: #fff;
}

.start:disabled {
  color: gray;
}