html, body {
    margin:0;
    padding: 0;
    padding-top: 10px;
    background: black;
    color: #00b800;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

h1 {
    font-size: 20px;
    text-align:center;
}

textarea {
    margin: 0 auto;
    padding: 10px;
    height: 200px;
    width: 90%;
    background: #00b800;
    border: 3px solid black;
    outline: none;
    font-family: 'Press Start 2P', cursive;
}

button {
    margin: 0 auto;
    padding: 10px 20px;
    display: block;
    background: #a80020;
    background: #00b800;
    border: none;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}
